/* mark {
    background: linear-gradient(transparent 75%, #9eceff 75%) !important;
} */

.cdx-settings-button[data-level='1'],
.cdx-settings-button[data-level='4'],
.cdx-settings-button[data-level='5'],
.cdx-settings-button[data-level='6'] {
  display: none;
}

/* .image-tool__tune {
  display: none;
} */

.cdx-quote-settings{
  display: none;
}

/* .cdx-settings-button{
  display: none;
} */

.ant-typography code{
  font-size: 1em !important;
  background-color: rgb(1, 22, 39) !important;
}

.ant-typography .inline-code {
  background-color: rgba(250, 239, 240, 0.78) !important;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height:6px;
}

::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 6px;
  box-shadow: none;
}

.reference-article-block:hover{
  background-color: #e6f7ff;
}

body{
 /* font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif !important; */
 /* font-family: Rubik,'M PLUS Rounded 1c',sans-serif !important; */
 font-family: Rubik,'Noto Sans JP',sans-serif !important;
}

.book-image-cover{
  animation: book_img_cover_animation 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
  box-shadow: 2px 2px 8px gray !important;
}

.dev-icon-animation1 {
  animation: icon_animation1 3s linear infinite;
  transform-origin: 50% 50%;
}

.dev-icon-animation2 {
  animation: icon_animation2 1.2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes book_img_cover_animation {
  0% { transform: translateY(0) }
  50% { transform: translateY(-10px) }
  100% { transform: translateY(0) }
}

@keyframes icon_animation1 {
  0% { transform: translateY(0) }
  50% { transform: translateX(-10px) }
  100% { transform: translateY(0) }
}

@keyframes icon_animation2 {
  0% { transform: translateY(5px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(5px) }
}

.ant-carousel .slick-slide {
  padding: 10px;
}


div.ant-slider-disabled .ant-slider-handle {
  border-color:#1890ff !important ;
}

div.ant-slider-disabled .ant-slider-track{
  background-color:#1890ff !important ;
}

.image-tool--withBackground .image-tool__image {
  background: #eff2f5 !important;
}

.ais-SearchBox-form {
  border-radius: 1rem;
}

.ais-SearchBox-input{
  border-radius: 1rem;
}

input,
.StripeElement {
  display: block;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

.StripeElement {
  box-shadow: rgba(50, 50, 93, 0.14902) 4px 4px 8px, rgba(0, 0, 0, 0.0196078) -4px -4px 8px;
}
input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}